:root{
    --color-bg: rgb(27, 27, 27);
    --color-main-opacity: rgba(27,27,27, .7);
    --color-menues: rgb(41,41,41);
    --color-buttons: rgb(128,128,128);
    --color-active: rgb(255, 163, 26);
    --color-text: rgb(255, 255, 255);
    --color-button-hover: rgb(247, 148, 14);
    --color-buttons-disabled: rgb(24,24,24);

    --margin-components: 20px 30px;
    --transition: all .2s ease-in;
}

.title{
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 30px;
    color: var(--color-text);
}


.header{
    background-color: var(--color-menues);
    padding: 15px 0;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu-list{
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.header_menu-link{
    color: var(--color-buttons);
    transition: var(--transition);
}

.header_menu-link:hover{
    color: var(--color-active);
}

.header_logo{
    max-height: 64px;
    max-width: 64px;
}

.header_menu-buttons{
    padding: 15px, 20px;
    display: flex;           
    gap: 10px;
    align-items: center;  
}

.header_button-change-theme{
    height: 64px;
    width: 64px;
    color: var(--color-bg);
    background-color: var(--color-buttons);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all .1s ease-out;
    padding: 15px, 20px;
}

.header_button-change-theme:hover{
    background-color: var(--color-active);
    transition: all .1s ease-in;
    
}

.header_cta{
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--color-active);
    color: var(--color-bg);
    margin: var(--margin-components);
    height: 64px;           
    width: 128px;
    text-align: center;     
    line-height: 64px;    
    text-decoration: none;
    box-sizing: border-box; 
}

.header_cta:hover{
    background-color: var(--color-button-hover);
    
}

.body{
    
    font-family: "Roboto", sans-serif;
    
}

.main{
    background-color: var(--color-bg);
}

.hero{
    background-image: url("../imgs/assortment-cinema-supplies.jpg");
    padding: 200px 0 182px;
    color: var(--color-text);
    background-size: cover;
    background-position: center;
}

.hero_title{
    font-weight: 600;
    font-size: 90px;
    margin-bottom: 10px;
}

.hero_subtitle{
    font-size: 28px;
    margin-bottom: 25px;
}

.hero_cta{
    color: var(--color-text);
    font-size: 20px;
    background-color: var(--color-active);
    padding: var(--margin-components); 
    transition: var(--transition);
    border-radius: 10px;
}

.hero_cta:hover{
    background-color: var(--color-button-hover);
    
}

.films{
    padding-bottom: 22px;
    display: block;
    
}

.films_title{
    background-color: var(--color-menues);
    margin: var(--margin-components);
    text-align: center;
    padding: 16px 0 16px;
    border-radius: 5px;
}

.films_cards{
    margin: var(--margin-components);
    padding: 16px 0 16px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 300px);
    gap: 60px;
}

.film_card{
    background-color: var(--color-menues);
    height: 300px;
    width: 200px;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.film_card:hover {
    background-color: var(--color-menues);
}



.film_card-footer{
    display: flex;
    justify-content: space-between;
    margin: auto 5px 10px;
}

.paginator{
    display: flex;
    justify-content: center;
}

.paginator_button{
    width: 60px;
    height: 60px;
    background-color: var(--color-menues);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    margin: 4.5px;
}

.paginator_button:hover{
    background-color: var(--color-buttons);
}

.cur_page{
    border: 3px solid var(--color-active);
    color: var(--color-active);
}

.arrow{
    width: 117px;
    height: 60px;
    background-color: var(--color-active);
}

.arrow:hover{
    background-color: var(--color-button-hover);
}

.arrow_disabled{
    background-color: var(--color-buttons-disabled);
}

.arrow_disabled:hover{
    background-color: var(--color-buttons-disabled);
}

.subscribe{
    background-color: var(--color-active);
    padding: 30px 0 50px;
}


.subscribe_title{
    color: var(--color-text);
}

.subscribe_text{
    color: var(--color-text);
}

.subscribe_form{
    border-radius: 10px;
    padding: 30px 10px 30px;
}

.subscribe_form-input{

    border: 1px solid var(--color-menues);
    border-radius: 20px;
    padding: var(--margin-components);
    background-color: transparent;
    color: var(--color-text);
    outline: none;
}

.subscribe_form-input.required{
    font-size: 16px;
    
}

.subscribe_form-input::placeholder{
    color: var(--color-main-opacity);
}


.subscribe_form-btn{
    border: 1px solid var(--color-menues);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: var(--margin-components);
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: var(--transition);
}

.subscribe_form-btn:hover{
    background-color: var(--color-menues);
}

.subscribe_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer{
    background-color: var(--color-menues)
}

.footer_wrapper_top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
    color: var(--color-buttons);
    gap: 15px;
}

.footer_wrapper_bottom{
    display: flex;
    justify-content: space-between;
    color: var(--color-buttons);
    padding-bottom: 10px;
}

.footer_contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    text-align: start;
}

.footer_menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer_contact-info-link{
    color: var(--color-buttons);
    transition: var(--transition);
}

.footer_contact-info-link:hover{
    color: var(--color-active);
    transition: var(--transition);
}

.footer_menu-link{
    color: var(--color-buttons);
    transition: var(--transition);
}

.footer_menu-link:hover{
    color: var(--color-active);
    transition: var(--transition);
}

.footer_polit{
    color: var(--color-buttons);
}

.footer_polit:hover{
    color: var(--color-active);
}
